<div class="container-fluid m-3">
    <button  class="btn btn-primary m-3"  (click)="create()">Create</button>
  
  <div class="row">
      <table class="table m-3">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Name</th>
              <th scope="col">City</th>
              <th scope="col">Country</th>
              <th scope="col">Description</th>
              
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let address of addresses">
              <th scope="row">{{address.id}}</th>
              <th scope="row">{{address.name}}</th>
              <th scope="row">{{address.city}}</th>
              <th scope="row">{{address.country}}</th>
              <th scope="row">{{address.description}}</th>
         
              <th> 
                <button  class="btn btn-secondary ms-3" (click)="edit(address.id)">Edit</button>
                <button   class="btn btn-danger ms-3"  (click)="delete(address.id)">Delete</button>
              </th>
            </tr>
          </tbody>
        </table>
  </div>
  </div>
  